/*Colour Palette

Edge              eg   	000000
Background Color: bg    303030
Accent 1:		  ac1  	212121
Accent 2:         ac2  	424242
Accent 3:		  ac3  	9e9e9e
Text:			  txt  	f5f5f5
Highlight		  ht  	628b23
*/

body{
	font-family:sans-serif;
	padding:0px;
	margin:0px;
	background-color:/*bg*/#303030;
	-webkit-user-select:none;
	overflow: hidden;
    color:white;
}

a{
	-webkit-app-region: no-drag;
	cursor:pointer;
}

/* Header and buttons */
header{
	margin:0px;
	overflow:hidden;
	background-color:/*eg*/#000000;
	color:/*txt*/#f5f5f5;
	-webkit-app-region: drag;
}

/* Window buttons */
.close{
	font-family:sans-serif !important;
	float:right;
	padding:5px 15px 5px 15px;
	font-size:20px;
}
.close:hover{
	color:/*ac2*/#424242;'
	font-weight:bold;
}
.close#close:hover{
	background-color:red;
}
.close#min:hover{
	background-color:/*ac3*/#9e9e9e;
}
.close#max:hover{
	background-color:/*ac3*/#9e9e9e;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

search{
  display:block;
  float:left;
  height:100%;
  background-color:#424242;
  width:350px;
}

results{
  float:none;
  display:block;
  height:100%;
  overflow-y:scroll;
  overflow-x:scroll;
}


search .input{
  display:flex;
  width:95%
}

search input{
  border:none;
  margin:10px 0px 0px 5%;
  padding:5px 10px;
  width:75%;
  font-size:20px;
  flex: 1;
}

search .input a{
  border:none;
  background-color:#9e9e9e;
  margin:10px 5% 0px 0px;
  padding:6px 10px;
  padding-left:10px;
  font-size:20px;
  flex: 0;
}

.selected{
  background-color:#9e9e9e !important;
}

.profile{
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  padding:10px;
  width:80%;
  background-color:#212121;
}
.profile h2{
  margin:0px;
  padding:0px;
}
.profile p{
  margin:5px 0px 0px 0px;
  padding-left:30px;
}

content{
  display:block;
  height:100%;
  margin-left:350px;
  padding:10px 10px 50px 50px;
  /* background-color:red; */
}

content header{
  margin:0px;
  overflow:hidden;
  background-color:/*eg*/#212121;
  width:100%;
  padding-left:50px;
  height:80px;
  min-width:400px;
  margin-bottom:50px;
}

content header h1{
  float:left;
}

content header div a{
  float:right;
  transform:translate(0px, 50%);
  display:inline-block;
  margin-right:5%;
  background-color:limegreen;
  padding:10px 15px;
}
.disabled{
  opacity:.3;
  background-color:#424242;
}

.flex{
  display:flex;
  flex-flow:row wrap;
}

article{
  background-color:#424242;
  width:30%;
  padding:10px;
  margin:10px;
  display: inline-block;
  min-width:260px ;
  flex-grow:1;
  flex-shrink:1;
	overflow-y: scroll;
	max-height: 60%;
}

article h1{
  margin:5px 0px 0px 10px;
}
article ul{
  margin-top:5px;
  list-style:none;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay section{
  padding:15px;
  padding-bottom:60px;
  background-color:#424242;
  width:50%;
  min-width:350px;
  max-width:500px;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  margin:auto;
}

.overlay a{
  margin-right:5%;
  float:right;
  background-color:limegreen;
  padding:10px 15px;
}

.overlay table{
  margin-left:5%;
  font-size:20px;
}

.overlay input{
  border:none;
  padding:5px;
}

.overlay select{
  border:none;
  font-size:17px;
  padding:1.5px;
}

#edit{
  display:block;
  float:right;
  transform:translate(5px, -5px) rotate(75deg);
  color:#212121;
}

content header h1:hover #edit{
  color:inherit !important;
}
